#nav-top {
	position:relative;
	font-size:12px;
	font-weight:550;
	width:320px;
	margin: 10px 0 0 920px;
	padding-top:5px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	background: rgb(228,245,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(159,216,239,1) 69%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(69%,rgba(159,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#9fd8ef',GradientType=0 ); /* IE6-9 */
}
	
#nav-top ul {
	margin-left:10px;
}
  
#nav-top li {
	padding-right:15px;
	display:inline;
}

#nav-top a {
	color:black;
}
#search-form {
	margin: -34px 0 0 800px;
}

#banner {
	position:relative;
	width:1100px;
	margin-left:140px;
}

#banner img {
	margin: 5px 0 5px 20px;
}

#navbar-options {
	position:relative;
	margin-left:140px;
	padding-top:10px;
	width:1120px;
	height:25px;
	font-size:16px;
	font-weight:700;
	background: rgb(228,245,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(159,216,239,1) 69%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(69%,rgba(159,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#9fd8ef',GradientType=0 ); /* IE6-9 */
	border-bottom-style:solid;
	border-bottom-width:2px;
}

/*#navbar-options ul {
	margin: 2px 0 0 30px;
	padding: 5px 0 0px 0;
}*/
 
.navbar-menu li {
	display:block;
}

.navbar-dropdown-menu {
	height:200px;
	width:300px;
//	background-color:yellow;
}

.navbar-dropdown-menu img {
	height:40%;
	width:40%;
	margin:20px 0px 20px 0px;
	float:left;
}

.navbar-dropdown-menu li{
	clear:none;
	display:table;
	background-color:#FFFFFF;
	text-decoration:none;
	margin:5px 0 2px 200px;
	padding:0;
}

.navbar-dropdown-menu h1{
	margin: 5px 0 0 20px;
	color: #0088cc;
}

.img-java{background-position:-656px -260px}
.img-holder{float:left;margin:0 10px 10px 10px}

.dropdown-item{
	padding-bottom:10px;
}

.codeBlock {
	font-size: 12px; 
	font-weight: 600;
	background: rgb(228,245,252); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(159,216,239,1) 69%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(69%,rgba(159,216,239,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#9fd8ef',GradientType=0 ); /* IE6-9 */	
}

#article-container {
	margin: 20px 0 0 160px;
}

#articles-container {
	margin: 20px 0 0 140px;
}

#articles-container h2 {
	font-size:1.2em;
	margin: -10px 0 0px 0;
	color:#FF0000;
	text-transform:capitalize;
	font-weight:900;
	line-height:1.15em;
	letter-spacing:-1px;
	color:#ff0000;	
}

#page-bar {
	margin:10px 0 50px 180px;
}

#footer-container {
	margin: 30px 0px 200px 120px;
	border-top-style:solid;
	border-top-width:1px;
	width:1120px;
	background: rgb(228,245,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(159,216,239,1) 69%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(69%,rgba(159,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(159,216,239,1) 69%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#9fd8ef',GradientType=0 ); /* IE6-9 */
}

#footer-row {
	margin: 30px 0px 200px 10px;
	
}

#footer-row div {
	padding-right:10px;
}

#cancel-comment-reply-link {
	display:none;
}
#commentBox {
	margin: 30px 0px 5px 5px; 
	border-width: 2px;
}
.commentText #cancel-comment-reply-link{
	display:block;
}

.comment-box {
	position:relative;
	padding:20px 10px 10px 0px;
	margin-bottom:20px;
	border-bottom:1px solid #E4E4E7
}

.comment-form {
	float:none;
	margin:40px 0px 20px 0px;
	padding-top:20px;
	overflow:auto;
}

.article-content p {
	font-size:1.2em;
	margin:5px 0 5px 0;
	font-weight:500;
	line-height:1.8em;
}
.article-intro {
	margin-left:120px;
}

.article-intro p{
	font-size:1.1em;
	margin:0 0 15px 0;
	font-weight:500;
	line-height:1.15em;
}

.article-box {
	position:relative;
	padding:20px 10px 10px 0px;
	margin-bottom:20px;
	border-bottom:1px solid #E4E4E7
}
.post-thumbnail{
	position:relative;
	margin:-10px 10px 60px 0;
	border:1px solid #DDD;
	padding:4px;
	float:left;
}

.article-meta-data {
	font-size:14px;
	margin-bottom:20px;
	color:#999
}


.article-tag a{
	color:#3E6D8E;
	padding:5px 0;
	margin:1px -1px 1px 0;
//	text-decoration:none!important;
//	white-space:nowrap
}

.article-tag a:hover {
//	text-decoration:none;
}


